/* ----------------------------------------
Header
------------------------------------------- */
header {
  background-image: url("https://i.imgur.com/H1gmwiA.jpg");
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

.bg-image {
  display: none;
}

.title a {
  text-shadow: 2px 2px 5px #000000;
}

.title h2 {
  text-shadow: 2px 2px 5px #000000;
}

/* ----------------------------------------
About
------------------------------------------- */
.about {
  color: rgb(194, 192, 192);
  background-color: rgb(37, 37, 37);
}

.about img {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  object-fit: cover;
}
.about article {
  max-width: 800px;
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.1;
}

.about h2 {
  margin-bottom: 0;
}

.about p {
  text-align: justify;
}

/* ----------------------------------------
Skills
------------------------------------------- */
#skills {
  padding-bottom: 100px;
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.skills-list {
  display: flex;
  /* flex-direction: row; */
  margin: -40px 0 20px 0;
  /* align-items: center; */
  justify-content: space-evenly;
}

.animated {
  display: inline-flex;
  flex-direction: column;
  margin: 0 15px;
  align-items: center;
}

.animated p {
  margin-top: 2px;
}

.placeholder {
  display: inline-flex;
  opacity: 0;
}
/* ----------------------------------------
Gallery
------------------------------------------- */
.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.masonry {
  column-count: 3;
  width: 100%;
  margin: 64px 0 0;
  margin: 4rem 0 2rem;
  padding-bottom: 0;
}

.masonry img {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.masonry img:hover {
  opacity: 0.6;
}

#gallery {
  padding-bottom: 0;
  background-color: rgb(37, 37, 37);
}

.gallery-heading {
  margin-bottom: -10px;
}

.project-card {
  padding: 50px;
}

.project-name {
  margin-top: 0px;
}

.project-card p {
  font-size: 14px;
  font-size: 1rem;
}

#gallery button {
  border: 2px solid rgb(180, 179, 179);
  color: rgb(70, 69, 69);
}

#contact {
  padding-top: 24px;
  padding-top: 1.5rem;
  background-color: rgb(30, 30, 30);
}

#siteseal {
  display: flex;
  height: 100%;
}

@media only screen and (max-width: 605px) {
  .masonry {
    column-count: 2;
  }

  header {
    background-image: url("https://i.imgur.com/a80LLyf.jpg");
    background-attachment: scroll;
    background-position: center;
    height: 175vw;
  }

  #skills {
    padding-bottom: 50px;
  }

  .skills-list {
    display: flex;
    /* flex-direction: row; */
    margin: -20px 0 50px 0;
    /* align-items: center; */
    justify-content: space-evenly;
  }
}
